@charset "utf-8";

@import url(./nav.css);


@font-face {
    font-family: "hd_Light";
    src: url("../fonts/현대체Light.woff");
}
@font-face {
    font-family: "hd_M";
    src: url("../fonts/현대체Medium.woff");
}
@font-face {
    font-family: "hd_Bo";
    src: url("../fonts/현대체Bold.woff");
}


* {
margin: 0;
padding: 0;
/* font-family: monospace; */
}

html, body {
width: auto;
height: 100%;
}


.gallery-timeline-container{
    contain: paint;
}

.gallery-timeline {
	height: 10000px;
}

.gallery-timeline .gallery {
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	width: 1000vw;
	height: 100vh;
    
}

.gallery-timeline .gallery::-webkit-scrollbar{
    display: none;
}


.gallery .gallery-item {
    position: relative;
    height: 100vh;
	flex-shrink: 0;
<<<<<<< .mine
    background-color: #fff;
    border: 3px dashed blue;
||||||| .r376
    border: 3px dashed blue;
=======
>>>>>>> .r377
}

.gallery .gallery-item.item1{width: 100vw;}
.gallery .gallery-item.item2{width: 2100px;}
.gallery .gallery-item.item3{width: 1967px;}
.gallery .gallery-item.item4{width: 1605px;}
.gallery .gallery-item.item5{width: 1824px;}
.gallery .gallery-item.item6 > img {height: 100%;}
.gallery .gallery-item.item7 > img {height: 100%;}

<<<<<<< .mine
.gallery .gallery-item.item1 > video{width: 100%;}

||||||| .r376

=======
>>>>>>> .r377
.gallery .gallery-item.item2 .group-text-1{
    position: absolute;
    top:290px;
    left: 106px;
    width: 620px;
    height: 272px;
    opacity: 0;
    transition: 1s;
}

.gallery .gallery-item.item2 .group-text-1 > div{position: absolute;}

.gallery .gallery-item.item2 .bg-1{
    position: absolute;
    top:0;
    left: 0;
    width: 480px;
    height: 100%;
    background: url(../images/item_2_bg_1.png);
<<<<<<< .mine
    background-size: cover;
||||||| .r376
    background-size: cover;
    
=======
    background-size: cover;    
>>>>>>> .r377
}
.gallery .gallery-item.item3 .bg-1{
    position: absolute;
    top:0;
    left: 0;
    width: 480px;
    height: 100%;
    background: url(../images/item_3_bg_1.png);
    background-size: cover;    
}
.gallery .gallery-item.item4 .bg-1{
    position: absolute;
    top:0;
    left: 0;
    width: 480px;
    height: 100%;
    background: url(../images/item_4_bg_1.png);
    background-size: cover;    
}
.gallery .gallery-item.item5 .bg-1{
    position: absolute;
    top:0;
    left: 0;
    width: 480px;
    height: 100%;
    background: url(../images/item_5_bg_1.png);
    background-size: cover;    
}

.gallery .gallery-item.item2 .bg-2{
    position: absolute;
    top:600px;
    left: 620px;
    width: 375px;
    height: 219px;
    background: url(../images/item_2_bg_2.png); 
    /* opacity: 0; */
}
.gallery .gallery-item.item3 .bg-2{
    position: absolute;
    top: 330px;
    left: 620px;
    width: 315px;
    height: 190px;
    background: url(../images/item_3_bg_2.png); 
    /* opacity: 0; */
}
.gallery .gallery-item.item4 .bg-2{
    position: absolute;
    top: 160px;
    left: 730px;
    width: 716px;
    height: 560px;
    background: url(../images/item_4_bg_2.png); 
    /* opacity: 0; */
}
.gallery .gallery-item.item5 .bg-2{
    position: absolute;
    top: 40%;
    left: 590px;
    width: 386px;
    height: 184px;
    background: url(../images/item_5_bg_2.png); 
    /* opacity: 0; */
}

.gallery .gallery-item.item2 .bg-3{
    position: absolute;
    top: 135px;
    left: 985px;
    width: 1011px;
    height: 625px;
    background: url(../images/item_2_bg_3.png); 
    /* opacity: 0; */
}
.gallery .gallery-item.item3 .bg-3{
    position: absolute;
    top: 50%;
    left: 985px;
    width: 800px;
    height: 450px;
    transform: translateY(-50%);
    background: url(../images/item_3_bg_3.png); 
    /* opacity: 0; */
}
.gallery .gallery-item.item5 .bg-3{
    position: absolute;
    top: 50%;
    left: 1024px;
    width: 640px;
    height: 680px;
    transform: translateY(-50%);
    background: url(../images/item_5_bg_3.png); 
    /* opacity: 0; */
}


.gallery .gallery-item .clip_text {
    position: absolute;    
    font-family: "Poppins" , sans-serif !important;
    font-weight: 700;
    line-height: 1.3;
    font-size: 62px;
}

.gallery .gallery-item .clip_text .txt_l {
    text-align: left;
}

.gallery .gallery-item .clip_text .txt_m {
    text-align: center;
}

.gallery .gallery-item .clip_text .txt_r {
    text-align: right;
}


.gallery .gallery-item.item2 .clip_text {
    top: 34%;
    left: 8%;
    width: 492px;
    background: linear-gradient(to right, #fff 76.2%, #000 30%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
.gallery .gallery-item.item3 .clip_text {
    top: 50%;
    left: 5.4%;
    width: 446px;
    background: linear-gradient(to right, #fff 83.7%, #000 30%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
.gallery .gallery-item.item4 .clip_text {
    top: 70%;
    left: 16.7%;
    width: 363px;
    background: linear-gradient(to right, #fff 58.7%, #000 30%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}
.gallery .gallery-item.item5 .clip_text {
    top: 18%;
    left: 16.7%;
    width: 342px;
    background: linear-gradient(to right, #fff 51%, #000 30%);
    background-clip: text;
    -webkit-background-clip: text; 
    color: transparent;
}


.vertical img {display: block; width: 100%;}
